---
import Profile from './Profile/Profile.astro';
import { profileWrapper, tagsWrapper } from './SideBar.css';
import Tags from './Tags/Tags.astro';
---

<div class={profileWrapper}>
	<Profile />
</div>

<div class={tagsWrapper}>
	<Tags />
</div>
