---
import Profile from "./Profile/Profile.astro";
import Tags from "./Tags/Tags.astro";
import { profileWrapper, tagsWrapper } from "./SideBar.css";
---

<div class={profileWrapper}>
	<Profile />
</div>

<div class={tagsWrapper}>
	<Tags />
</div>
