---
import PostCard from "./PostCard/PostCard.astro";
import { type CollectionEntry } from "astro:content";

interface Props  {
	posts:CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;

let delay = 0;
const interval = 50;
---

<div
	class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4"
>
	{
		posts.map(
			(post) => (
				<PostCard
					post={post}
					style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
				/>
			),
		)
	}
</div>
