---
import GlobalStyles from "../../GlobalStyles.astro";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import Head from "../Head/Head.astro";
import InitScripts from "../InitScripts.astro";
import MainGrid from "../MainGrid/MainGrid.astro";
import { body, html } from "./BaseLayout.css";
import { lightThemeClass } from "../../../styles/themes.css";

interface Props {
	title: string;
}

let { title } = Astro.props;

const anim = {
	old: {
		name: "fadeIn",
		duration: "4s",
		easing: "linear",
		fillMode: "forwards",
		mixBlendMode: "normal",
	},
	new: {
		name: "fadeOut",
		duration: "4s",
		easing: "linear",
		fillMode: "backwards",
		mixBlendMode: "normal",
	},
};

const myFade = {
	forwards: anim,
	backwards: anim,
};

let pageTitle;
if (title) {
	pageTitle = `Dor Sharon | ${title}`;
} else {
	pageTitle = `Dor Sharon`;
}
---

<!doctype html>
<html lang={"en"} class={`${html} ${lightThemeClass}`}>
	<Head />

	<body class={body}>
		<GlobalStyles/>

		<MainGrid>
			<slot />
		</MainGrid>


		<style is:global>
			@tailwind components;
			@tailwind utilities;

			:root {
				--page-width: 75rem;
				--text-primary: #ffffffe6;
				--text-secondary: #ffffff80;
				--page-background: #090e13;
				--card-background: #181e24;

				.dark {
                    --text-primary: #ccc;
                    --text-secondary: #ffffff80;
                    --page-background: #090e13;
                    --card-background: #181e24;
				}
			}
		</style>

		<InitScripts />
	</body>
</html>
