---
import { NavBarLink } from "../../types/config";

interface Props {
	links: NavBarLink[];
}

const links = Astro.props.links;
---

<div
	id="nav-menu-panel"
	class:list={[
		"float-panel float-panel-closed absolute transition-all fixed right-4 px-2 py-2",
	]}
>
	{
		links.map(({ name, url }) => (
			<a
				href={url}
				class="group flex justify-between items-center py-2 pl-3 pr-1 rounded-lg gap-8
            hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] transition"
			>
				<div class="transition text-black/75 dark:text-white/75 font-bold group-hover:text-[var(--primary)] group-active:text-[var(--primary)]">
					{name}
				</div>
			</a>
		))
	}
</div>
