---
import { getUrl } from "../../utils/url-utils";
import {
	AUTO_MODE,
	DARK_MODE,
	DEFAULT_THEME,
	LIGHT_MODE,
} from "../../constants/constants";
import { profileConfig } from "../../config";
---

<head>
	<title>Dor Sharon</title>

	<meta charset="UTF-8" />
	<meta name="description" content={"Dor Sharon"} />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

	<!-- Set the theme before the page is rendered to avoid a flash -->
	<script
		define:vars={{
			DEFAULT_THEME: DEFAULT_THEME,
			LIGHT_MODE: LIGHT_MODE,
			DARK_MODE: DARK_MODE,
			AUTO_MODE: AUTO_MODE,
		}}
	>
		const theme = localStorage.getItem("theme") || DEFAULT_THEME;
		switch (theme) {
			case LIGHT_MODE:
				document.documentElement.classList.remove("dark");
				break;
			case DARK_MODE:
				document.documentElement.classList.add("dark");
				break;
			case AUTO_MODE:
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
		}
	</script>

	<slot name="head" />

	<link
		rel="alternate"
		type="application/rss+xml"
		title={profileConfig.name}
		href={`${Astro.site}rss.xml`}
	/>
</head>
