---
import BaseLayout from '../components/layout/BaseLayout/BaseLayout.astro';
---

<BaseLayout title={"About"}>
	<div
		class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
	>
		<div class="card-base z-10 px-9 py-6 relative w-full">
				<div>asdf</div>
		</div>
	</div>
</BaseLayout>
