---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, subtitle, publishDate, image } = Astro.props;
---

<BaseLayout>
	<article>
		<div class="wrapper">
			{
				image && (
					<div class="image-wrapper">
						<Image width={800} height={450} src={image} alt="" />
					</div>
				)
			}

			<div class="title">
				<h2>{title}</h2>

				<h5>{subtitle}</h5>

				<FormattedDate date={publishDate} />
			</div>

			<hr />

			<slot />
		</div>
	</article>
</BaseLayout>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.image-wrapper {
		display: flex;
		justify-content: center;
	}

	.title {
		text-align: center;
	}

	h5 {
		font-style: italic;
	}

	hr {
		width: 100%;
	}
</style>
