---
import SocialLinks from "./SocialLinks.astro";
---

<header>
	<nav>
		<a class="logo" href="/">
			<h2>dor</h2>
			<h2>sharon</h2>
		</a>

		<SocialLinks />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 1em 0 1em;
	}

	.logo {
		display: flex;
		align-items: center;

		h2 {
			margin: 0;
			font-size: 1.5em;
			font-weight: 400;

			&:first-of-type {
				color: var(--text-primary);
			}

			&:not(:first-of-type) {
				color: var(--text-secondary);
			}
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			text-decoration: none;
		}
	}
</style>
