---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { Image } from "astro:assets";
import AvatarImage from "../../public/avatar.jpeg";
import BlogPostsList from "./BlogPostsList.astro";
import SkillIcon from "./SkillIcon.astro";
import RotatingText from "./RotatingText";
---

<div class="introduction">
	<Image
		class="avatar"
		src={AvatarImage}
		alt="avatar"
		width={250}
		height={250}
	/>

	<div>
		<h1>Hi there!</h1>
		<h3>I'm Dor Sharon</h3>

		<div class="rotating-text-wrapper">
			<h4>I'm a</h4>
			<RotatingText
				client:load
				items={[
					{ label: "full stack developer", color: "#fb923c" },
					{ label: "React fanboy", color: "#5b9ee9" },
					{ label: "Frontend enthusiast", color: "#a78bfa" },
					{ label: "Marvel geek", color: "#34d399" },
					{ label: "bug squasher (and maker)", color: "#d33489" },
				]}
			/>
		</div>
	</div>
</div>

<div class="description">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
		veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
		occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum.
	</p>

	<div class="lottie">
		<LottieAnimation src="lottie/developer.json" autoplay="visible" />
	</div>
</div>

<div class="skills">
	<div class="lottie">
		<LottieAnimation src="lottie/laptop.json" autoplay="visible" />
	</div>

	<div>
		<p>These are the technologies that I (mostly) like to work with:</p>
		<div class="skills-grid">
			<SkillIcon label="HTML" iconName="logos:html-5" />
			<SkillIcon label="CSS" iconName="logos:css-3" />
			<SkillIcon label="TypeScript" iconName="logos:typescript-icon" />
			<SkillIcon label="React" iconName="logos:react" />
			<SkillIcon label="Vite" iconName="logos:vitejs" />
			<SkillIcon label="Redux" iconName="logos:redux" />
			<!--<SkillIcon-->
			<!--	label="Styled Components"-->
			<!--	iconName="skill-icons:styledcomponents"-->
			<!--/>-->
			<SkillIcon label="Astro" iconName="logos:astro-icon" />
			<SkillIcon label="NodeJS" iconName="logos:nodejs" />
			<SkillIcon label="NestJS" iconName="logos:nestjs" />
			<SkillIcon label="gRPC" iconName="logos:grpc" />
			<SkillIcon label="MongoDB" iconName="logos:mongodb-icon" />
			<SkillIcon label="PostgreSQL" iconName="logos:postgresql" />
			<SkillIcon label="Redis" iconName="logos:redis" />
			<SkillIcon label="Jest" iconName="logos:jest" />
			<SkillIcon label="Storybook" iconName="logos:storybook-icon" />
			<SkillIcon label="Vitest" iconName="logos:vitest" />
			<SkillIcon
				label="Testing Library"
				iconName="logos:testing-library"
			/>
			<SkillIcon label="Playwright" iconName="logos:playwright" />
			<SkillIcon label="CircleCI" iconName="logos:circleci" />
			<SkillIcon label="Docker" iconName="logos:docker-icon" />
			<SkillIcon label="Kubernetes" iconName="logos:kubernetes" />
			<SkillIcon label="Helm" iconName="logos:helm" />
		</div>
	</div>
</div>

<BlogPostsList />

<style>
	.avatar {
		border-radius: 8px;
	}

	.introduction,
	.skills {
		display: flex;
		align-items: center;
		gap: 1em;
		width: 100%;

		@media (max-width: 768px) {
			flex-direction: column;
			text-align: center;
		}
	}

	.rotating-text-wrapper {
		display: flex;
		gap: 0.5em;
	}

	.skills-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
		row-gap: 1em;
		place-items: center;
	}

	.description {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		place-items: center;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	.lottie {
		width: 100%;
		max-width: 400px;
		flex-grow: 1;
	}
</style>
