---
import Tooltip from "./Tooltip";
import { Icon } from "astro-icon/components";

interface Props {
	label: string;
	iconName: string;
}

const { label, iconName } = Astro.props;
---

<Tooltip label={label} client:load>
	<div>
		<Icon name={iconName} width={50} height={50} />
	</div>
</Tooltip>

<style>
	div {
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--background-primary);
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #ffffff;
			scale: 1.1;
		}
	}
</style>
