---
import { Icon } from "astro-icon/components";
---

<div>
  <a href="https://github.com/dorsharon" target="_blank">
    <Icon name="mdi:github" height="2em" width="2em" />
  </a>
  <a href="https://www.linkedin.com/in/dor-sharon-59aba82a0" target="_blank">
    <Icon name="mdi:linkedin" height="2em" width="2em" />
  </a>
</div>

<style>
  a {
    fill: var(--text-primary);
    text-decoration: none;
  }
</style>
