---

---

<head>
	<title>Dor Sharon</title>

	<meta charset="UTF-8" />
	<meta name="description" content={"Dor Sharon"} />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

	<!-- Set the theme before the page is rendered to avoid a flash -->
	<script>
		import { getTheme, setTheme } from "../../../utils/setting-utils";

		const theme = getTheme();
		setTheme(theme);
	</script>

	<link
		rel="alternate"
		type="application/rss+xml"
		title={"Dor Sharon"}
		href={`${Astro.site}rss.xml`}
	/>
</head>
