---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/raleway";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <style>
      :root {
        --background-primary: linear-gradient(180deg, #29323c 0%, #485563 100%);
        --background-secondary: #fff;
        --text-primary: #fff;
        --text-secondary: #959595;
      }

      body {
        font-family: "Raleway Variable", sans-serif;
        margin: 0;
        padding: 0;
        text-align: left;
        background: var(--background-primary);
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: var(--text-primary);
        font-size: 20px;
        line-height: 1.7;

        main {
          width: 1000px;
          max-width: calc(100% - 2em);
          margin: auto;
          padding: 3em 1em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 0 0 0.5rem 0;
          line-height: 1.2;
          font-weight: 400;
        }
        h1 {
          font-size: 3.052em;
        }
        h2 {
          font-size: 2.441em;
        }
        h3 {
          font-size: 1.953em;
        }
        h4 {
          font-size: 1.563em;
        }
        h5 {
          font-size: 1.25em;
        }

        a {
          color: var(--text-primary);
        }
        a:hover {
          color: var(--text-secondary);
        }
      }

      @media (max-width: 720px) {
        body {
          font-size: 18px;
        }
        main {
          padding: 1em;
        }
      }
    </style>
  </body>
</html>
